.homeWrap{
    background-image: url("../../media/backgroundImg/heroBG.svg"); 
       background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.scroll{
    overflow-y: clip;
}

.no-scroll{
    height: 100vh;
    overflow-y: hidden;
}


@media screen and (min-width: 1600px) and (max-width: 1910px)and (orientation: landscape) {
.homeWrap{
    height: 100vh;
}
}
