.productDetailWrapper{
    background-image: url("../../media/productDetail-top3.svg"); 
    background-attachment: fixed;
 background-size: cover;
 height: 100vh;

    .productDetailWrapper-background{
        background-image: url("../../media/productDetail-bottom1.svg"); 
        background-attachment: fixed;
     background-size: cover;
     height: 100vh;
   
    }

}