.hide-on-phone{
    display: none;
}



.contactUsIconWrapper{
    width: 60px;
    height: 60px;
    background-color: red;
    position: fixed;
    z-index: 99999;
    right: 1%;
    bottom: 1.5%;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6); 
    transition: border-color 0.5s ease-in;



    &:hover{
        cursor: pointer;
        border-color: #2879fe;

    }

    .contactUsIcon{
        width: 35px;
        height: 35px;
        color: white;
        position: absolute;
        right: 20%;
        transition: all 1.6 ease-in-out;

 
    }
}

.heroContactForm{
    background-color: rgba(43, 26, 26, 0.867);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.396);
    position: absolute;
    bottom: 2%;
    right: 1%;  
    border-radius: 15px;


    .contactFormHeader{
        display: flex;
        flex-direction: row;
        vertical-align: middle;
        border: 1px solid #f75e4f;
        border-radius: 10px 10px 0px 0px;
        background-color: #f75e4f;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        
        .mui{
            margin-top: 2px;
            padding-top: 10px;
            width: 28px;
            height: 28px;
        }
    }
    
    form{  
       
        .formRow{
            display: flex;
            flex-direction: row;
        }
        textarea, input { 
            font-size: 14px; font-family: Arial, Helvetica, sans-serif;
        };
        .heroFormSubmitBtn{
            font-size: 16px; 
            font-weight: 600;
            display: flex;
            flex-direction: row;
            float: right;
            background-color: #2879fe;
            color: white;
            &:hover{
                cursor: pointer;
                background-color: #438bff;;
            }
            .submitBtnText{
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }     
}


// PHONE VIEW width 320px
    @media screen and ((min-width: 320px) and (max-width:767px) and (orientation: portrait)) {
    .heroContactForm{
        display: none;
        z-index: 1;
    }
    .portraitContaftFormWrapper{
        width: 100vw;
       display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        margin: 0px;
        padding: 0px;
    
        .portraitContactForm{
            bottom:1%;
            background-color: black;
            color: white;
            border: 1px solid rgba(0, 0, 0, 0.396);
            width: 100vw;
            margin: 0px;
            padding: 0px;
            margin-top: 4vw;
            padding-bottom: 1vh;


            .contactFormHeader{
                display: flex;
                height: 10vw;
                line-height: 11vw;
                flex-direction: row;
                vertical-align: middle;
                justify-content: center;
                border: 1px solid #f75e4f;
                background-color: #f75e4f;
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 4vw;
                
                .contactUs{
                }

                
                .mui{
                    width: 5vw;
                    margin-top: 1.75vw;
                    margin-right: 5px;
                }
            }
            
            form{  
                position: relative;
                padding: 5vw;
                margin-left: 0.5vw;
                display: flex;
                flex-direction: column;

                .formRow{
                    display: flex;
                    flex-direction: column;
                }
                input{
                   width: 40vw;
          
               
                }

                textarea{
                    margin-top: -15px;
                    width: 85.5vw;
                    height: 12vh;
                }

                label{
                    margin-top: 0px;
                    padding-top: 0px;
                    font-weight: 500;
                    font-size: 3vw;
                    padding-bottom: 15px;
                    justify-content: center;
                }
               
                .formRow{
                    display: flex;
                    flex-direction: row;
                }
                textarea, input { 
                    font-size: 3vw; font-family: Arial, Helvetica, sans-serif;
                };
                .heroFormSubmitBtn{
                    font-weight: 600;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    float: center;
                    align-self: center;
                    background-color: #2879fe;
                    margin-top: -25px;
                    height:40px;
                    line-height: 33px;
                    vertical-align: middle;
                    width: 33vw;
                    color: white;
                    &:hover{
                        cursor: pointer;
                        background-color: #438bff;;
                    }
                    .submitBtnText{
                        text-transform: uppercase;
                        font-size: 3.7vw;
                    }
                }
            }
        }
    }
    .contactUsIconWrapper{
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.46); 
        z-index: 99999;
    }
}

// 768x1024 - iPad
@media screen and ((min-width: 768px) and (orientation: portrait)) {

    .heroContactForm{
        display: none;
        z-index: 1;
    }
    .portraitContaftFormWrapper{
       display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        z-index: 9999;
        .portraitContactForm{
            position: fixed;
            z-index: 9999;
            box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.46); 
            bottom: 2%;
            background-color: rgba(43, 26, 26, 0.734);
            color: white;
            border: 1px solid rgba(0, 0, 0, 0.396);
            width: 465px;
            height: 250px;
            border-radius: 15px;
            margin: auto;

            .contactFormHeader{
                display: flex;
                height: 50px;
                line-height: 52.5px;
                flex-direction: row;
                vertical-align: middle;
                justify-content: center;
                border: 1px solid #f75e4f;
                border-radius: 15px 15px 0px 0px;
                background-color: #f75e4f;
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 20px;
                
                .contactUs{
                }

                
                .mui{
                    margin-top: 2px;
                    padding-top: 10px;
                    width: 50px;
                }
            }
            
            form{  
                position: relative;
                padding: 20px;
                width: 100%;
                display: flex;
                flex-direction: column;
                input{
                    width: 177.5px;
                    gap: 5px;
               
                }

                textarea{
                    margin-top: -15px;
                    width: 415px;
                    height: 130px;
                }

                label{
                    margin-top: 0px;
                    padding-top: 0px;
                    font-weight: 500;
                    font-size: 18px;
                    padding-bottom: 15px;
                    justify-content: center;
                }
               
                .formRow{
                    display: flex;
                    flex-direction: row;
                }
                textarea, input { 
                    font-size: 14px; font-family: Arial, Helvetica, sans-serif;
                };
                .heroFormSubmitBtn{
                    font-size: 16px; 
                    font-weight: 600;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    float: center;
                    align-self: center;
                    background-color: #2879fe;
                    margin-top: -25px;
                    height:40px;
                    line-height: 33px;
                    vertical-align: middle;
                    width: 160px;
                    color: white;
                    &:hover{
                        cursor: pointer;
                        background-color: #438bff;;
                    }
                    .submitBtnText{
                        text-transform: uppercase;
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .contactUsIconWrapper{
        box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.46); 
        right: 1.75%;
        bottom: 1.75%;
        position: fixed;
        z-index: 99999;
    }
    }

// 2048x2732 - iPad Pro
@media screen and ((min-width: 2048px) and (orientation: portrait)) {

        .portraitContaftFormWrapper{
       
            .portraitContactForm{
                bottom: 5%;
                width: 75rem;
                height: 600px;
    
                .contactFormHeader{
                    height: 7.5rem;
                    line-height: 7.65rem;
                    font-size: 2.75rem; 
                    
                    .mui{
                        margin-top: 1.3rem;
                        margin-right: 0.75rem;
                        width: 4rem;
                        height: 4rem;
                    }
                }
                
                form{  
                    padding: 1.5rem;
                    input{
                        width: 31.75rem;
                        height: 4.25rem;
                        gap: 1rem;
                        padding-left: 1rem;
                   
                    }
    
                    textarea{
                        width: 69rem;
                        height: 380px;
                        padding: 1rem;
                      
                    }
    
                    label{
                        font-size: 2.75rem;
                        padding-bottom: 15px;
                        justify-content: center;
                    }
                   
                    textarea, input { 
                        font-size: 2.5rem; font-family: Arial, Helvetica, sans-serif;                   
                    }
                    .heroFormSubmitBtn{
                        height: 5.75rem;
                        line-height: 5rem;
                        width: 20rem;
                        margin-top: -1rem;
                        &:hover{
                            cursor: pointer;
                            background-color: #438bff;;
                        }
                        .submitBtnText{
                            text-transform: uppercase;
                            font-size: 2.5rem; 
                        }
                    }
                }
            }
        }
        .contactUsIconWrapper{
            width: 12rem;
            height: 12rem;


            .contactUsIcon{
                width: 7rem;
                height: 7rem;
            }
            z-index: 99999;
        }
        }


//1600x900 LAPTOP
@media screen and ((min-width: 1600px) and (orientation: landscape)) {
    .portraitContaftFormWrapper{
        display: none;
    }

    .hide-on-phone{
        display: none;
    }
    


    .heroContactForm{
        display: block;
        width:300px;
        padding: 10px 20px;
        height: 235px;    
        position: absolute;
        right: 1%;
        .contactFormHeader{
            width: 340px;
            height:40px;
            font-size: 16px;
            line-height: 40px;        
            margin-left: -21px;
            margin-top: -20px;
            padding-top: 4.5px;  
            .mui{
                margin-top: -4px;
                padding-top: 10px;
                width: 50px;
            }                
        }    
        form{
            margin-left: -7.5px;            
            .formRow{
                margin-top: 15px;
            } 
            .heroFormSubmitBtn{
                width: 120px;
                height: 32.5px;
                padding: 1.75px 7.5px;                
                margin-right: 1px;
                margin-top: 8px;    
                .submitBtnText{
                    margin-top: 4.5px;
                    margin-left: 5px;
                    font-size: 13px;
                }
            }
            input{
                width: 145px;
                font-size: 13px;
            }
            textarea{
                resize: none;
                padding: 0.5em;
                height: 5em;
                font-size: 10px;
                width: 20.75em;
                font-size: 14px; font-family: Arial, Helvetica, sans-serif;
                
            }
        }
    }
    .popUpForm{
        position: fixed;
        bottom:1.5%;
        margin-right: 80px;
        box-shadow: 10px 7.5px 10px rgba(0, 0, 0, 0.6); 
        z-index: 999999;
    }
}


//1920x1080 FULL HD
@media screen and (min-width: 1920px) {
    .heroContactForm{
        position: fixed;
        width: 400px;
        padding: 20px 30px;
        height: 310px;    
        right: 1%;
        .contactFormHeader{
            width: 461px;
            height:55px;
            line-height: 50px;        
            margin-left: -31px;
            margin-top: -30px;
            padding-top: 4.5px;     

            .mui{
                margin-top: 3px;
            }

            
            .contactUs{
                span{
                    font-size: 20px;
                }
            }       
        }    
        form{
            margin-left: 7.5px;            
            .formRow{
                margin-top: 15px;
            } 
            .heroFormSubmitBtn{
                width: 150px;
                height: 42.5px;
                padding: 7.5px 15px;                
                margin-right: 11px;
                margin-top: 12px;    
                .submitBtnText{
                    margin-top: 2px;
                    margin-left: 5px;
                    font-size: 17px;
                }
            }

            input,textarea{
                font-size: 14px;
            }

            input{
                width: 170px;
                height: 20px;
            }
            textarea{
                width: 26.5em;
                height: inherit;
                padding: 0.25em;
                
            }
        }
    }
}



